<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hazelcast Browser</title>
		<link rel="stylesheet" href="template.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>

		<header>
			<div class="brand">
				<a href="#">SunGard</a> <span>Hazelcast Browser</span>
			</div>

			<ul class="breadcrumb">
				<li><a href="#">Enterprise</a></li>
				<li><a href="#">Prd</a></li>
			</ul>

			<ul class="quick">
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
			</ul>
		</header>

		<div id="view">

			<div class="list">

				<h2>Collections</h2>

				<ul>
					<li><a href="#">ARIMACoefficient</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">AssetClassification</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">AssetClassificationKey</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">AssetModellingScheme</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">AssociatedBenchmark</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">BenchmarkType</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">BenchmarkTypeKey</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li class="selected"><a href="#">Composition</a> <a href="#" class="fa fa-chevron-up"></a>
						<ul>
							<li>ID</li>
							<li>UUID</li>
							<li>Key</li>
							<li>From</li>
							<li>To</li>
							<li>Name</li>
							<li>TypeKey</li>
							<li>Created By</li>
							<li>Created Date</li>
						</ul></li>
					<li><a href="#">CompositionCompositionGroup</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionGroup</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionGroupKey</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionKey</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionModel</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionThreshold</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionType</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionTypeKey</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionUDFDetail</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CompositionValuation</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">Country</a> <a href="#" class="fa fa-chevron-down"></a></li>
					<li><a href="#">CountryKey</a> <a href="#" class="fa fa-chevron-down"></a></li>
				</ul>
			</div>

			<div class="data">

				<div class="console">
					<textarea name="" id=""></textarea>
				</div>

				<table>

					<thead>

						<tr>
							<th>ID</th>
							<th>UUID</th>
							<th>Key</th>
							<th>From</th>
							<th>To</th>
							<th>Name</th>
							<th>TypeKey</th>
							<th>Created By</th>
							<th>Created Date</th>
						</tr>

					</thead>

					<tbody>

						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>
						<tr>
							<td>1</td>
							<td>b342dac1-d708-4add-812c-826d846d07dc</td>
							<td>7625</td>
							<td class="null">NULL</td>
							<td class="null">NULL</td>
							<td>AccountName: 22461</td>
							<td>3</td>
							<td>fdbupload</td>
							<td>2014-09-04 14:13:36</td>
						</tr>

					</tbody>

				</table>

			</div>

		</div>

	</body>
</html>
